<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 塔胡胡</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/admin-lte/css")
    @Styles.Render("~/bootstrap-table/css")
    <style>
        body {
            font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
        }
    </style>
</head>
<body>
    <div class="hold-transition skin-blue sidebar-mini">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/plugins")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/admin-lte")
    @Scripts.Render("~/bundles/bootstrap-table")
    @RenderSection("scripts", required: false)
</body>
</html>