<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <!-- 移动设备 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Safari浏览器添加到主屏幕（IOS） -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    <!--外部css-->
    <link href="~/Content/core.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/web-icons-master/css/web-icons.css" rel="stylesheet" />
    <!--my css-->
    <link href="~/Content/main.css" rel="stylesheet" />
    @RenderSection("css", required: false)
    <!--基础js-->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.min-2.2.3.js"></script>
    <script src="~/Scripts/bootstrap-table/bootstrap-3.3.6.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap-4.1.3/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/Router.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/common.js"></script>
</head>
<body class="@ViewBag.BodyClass">
    @RenderBody()
    <script src="~/Scripts/admin.js"></script>
    @RenderSection("js", required: false)
</body>
</html>